{% load static %}
<div id="image">
  {% if plan.image %}
  {% include 'dbloc/macros/plan_svg.html' with plan=plan teleports=teleports tp_action=tp_action mark=mark%}
  {% else %}
  No image stored.
  {% endif %}
</div>

{% if zoom %}
<script src="{% static 'dbloc/scripts/svg-pan-zoom.js' %}"></script>

<script>
  // Don't use window.onLoad like this in production, because it can only
  // listen to one function.
  window.onload = function() {
      // Expose to window namespase for testing purposes
      svgPanZoom('#plan', {
          zoomEnabled: true,
          controlIconsEnabled: true,
          fit: true,
          center: true});
  };
</script>
{% endif %}
