asgiref==3.2.7
Django==3.0.5
django-debug-toolbar==2.2
django-crispy-forms==1.9.1
django-taggit
gunicorn==20.0.4
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==7.1.1
pytz==2019.3
PyYAML==5.3.1
sqlparse==0.3.1

# for retrieving website metadata
requests
beautifulsoup4

# logging
colorlog
