<div class="card mt-3">
  <div class="card-header">
    <a class="h5 card-title" href="{% url 'lf:link_open' link.id %}">{{link.title}}</a>
  </div>
  <div class="card-body">
    <div class="card-text">
      {% if link.notes %}
      <p>{{ link.notes }}</p>
      {% endif %}

      <div class="text-muted">
        {% with link.get_tags as tags %}
        {% if tags %}
        Tags:
        {% for tag in tags %}
        <a href="{% url 'lf:links_tagged' tag.name %}" class="badge badge-primary">{{tag.name}}</a>
        {% endfor %}
        {% endif %}<br />
        {% endwith %}
        Created: {{ link.created_on }}, updated: {{ link.updated_on }}<br />
        Followed: {{ link.follow_count }}
      </div>

      <a class="btn-sm btn-primary" href="{% url 'lf:link' link.id %}">Info</a>
      <a class="btn-sm btn-primary" href="{% url 'lf:link_edit' link.id %}">Edit</a>
    </div>
  </div>
</div>
