{% extends 'base.html' %}

{% block title %}Info{% endblock %}


{% block content %}

<h2>Bookmarklet</h2>

<p>
  Please drag&amp;drop the following bookmarklet into your bookmark bar:
</p>

<p class="text-center">
  <a class="badge badge-primary"
     href="{% include 'lf_app/macros/bootmarklet.js' with siteurl=siteurl %}"><span class="h1">linker_file</span></a>
</p>


<h2>Version Information</h2>

<div class="row mt-4">
  <table class="table table-hover col-6">
    <tr>
      <th scope="row">Application Version</th>
      <td>{{ info.VERSION }}</td>
    </tr>
    <tr>
      <th scope="row">Git Tag</th>
      <td>{{ info.GIT_TAG }}</td>
    </tr>
    <tr>
      <th scope="row">Git Hash</th>
      <td>{{ info.GIT_HASH }}</td>
    </tr>
    <tr>
      <th scope="row">Build Date</th>
      <td>{{ info.BUILD_DATE }}</td>
    </tr>
    <!--<tr scope="row">
      <th>Build Host</th>
    <td>{{ info.BUILD_HOST }}</td>
    </tr>-->
  </table>
</div>

<h2>Application Information</h2>

<div class="row mt-4">
  <table class="table table-hover col-6">
    <tr>
      <th scope="row">Developed by</th>
      <td>Andreas Schröder &lt;<a href="mailto:andreas@a-netz.de">andreas@a-netz.de</a>&gt;</td>
    </tr>
    <tr>
      <th scope="row">Source Code</th>
      <td><a href="https://github.com/motlib/dbloc">https://github.com/motlib/dbloc</a></td>
    </tr>
    <tr>
      <th scope="row">License</th>
      <td><a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3</a></td>
    </tr>
  </table>
</div>
{% endblock %}
