{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block title %}Edit Link{% endblock %}

{% block content %}

<p>
  <form method="post">
  {% csrf_token %}

  {% include 'lf_app/macros/form_errors.html' with form=form %}

  <div class="form-row">
    <div class="col">
      {{ form.url | as_crispy_field }}
    </div>
  </div>

  <div class="form-row">
    <div class="col-6">
      {{ form.title | as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.tags | as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {{ form.notes | as_crispy_field }}
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
  <a class="btn btn-secondary" href="{% url 'lf:index' %}">Cancel</a>
</form>
</p>

<div class="row">
  <div class="col-3">
    <button id="btn_web_meta"
            class="btn btn-primary"
            type="button">Retrieve Metadata</button>
  </div>
  <div class="col-9">
    <div id="lb_status"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'lf_app/js/web_meta.js' %}"></script>
{% endblock %}
